body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: rgb(225, 229, 222);
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding: 15px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(167, 171, 168) 35%,
    rgb(204, 218, 221) 100%
  );
  opacity: 0.8;
  z-index: 10;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}

.my-component {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  flex-basis: 48%;
  min-height: 300px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f2f2f2;
  box-shadow: 2px 2px 5px #999;
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .card-container {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding: 0 20px;
  }

  .my-component {
    width: 100%;
    margin: 10px 0;
    padding: 20px 10px;
  }
}
input {
  border-radius: 5px;
  margin-bottom: 10px;
  min-height: 30px;
  max-width: 230px;
  padding: 5px;
  border: 1px solid;
}
h2 {
  border: 2px solid;
  border-radius: 5px;
  padding: 5px;
  background: rgba(128, 128, 128, 0.342);
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 25px;
}
span {
  margin-bottom: 10px;
  font-weight: bold;
}
.img-container-task-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.img-container-task-2 img {
  margin-bottom: 20px;
  border: 3px solid gray;
  border-radius: 25px;
  max-width: 300px;
  width: 100%;
}
.img-container-task-2 span {
  font-weight: bold;
}
/* task-3 ----------------------------------*/
.task-3 button {
	margin-bottom: 10px;
	background: rgb(165, 236, 165);
	max-width: 110px;
	padding: 10px;
	border: 1px solid black;
	border-radius: 10px;
	transition: all 0.1s;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4); 
}

.task-3 button:active {
	transform: scale(0.95);
	box-shadow: none; 
	background: rgb(96, 163, 96);
}
/* task-4 ----------------------------------*/
.form-container button {
  margin-bottom: 10px;
  background: rgb(165, 236, 165);
  max-width: 110px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  transition: all 0.2s;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4); 
}

.form-container button:active {
  transform: scale(0.95);
  box-shadow: none; 
  background: rgb(96, 163, 96);
}

.form-container input {
  margin-right: 10px;
}
.form-container p {
  font-weight: bold;
  margin-bottom: 5px;
}
.form-container p:first-child {
  margin-bottom: 10px;
}
label {
  margin-right: 10px;
  font-weight: bold;
}
.task-4-separating-line {
  width: 75%;
  height: 2px;
  background-color: black;
  margin-bottom: 10px;
  margin-top: 40px;
}
.text-red {
	color: red;
 }
 
 .text-green {
	color: green;
 }
/* task-5 ----------------------------------*/
.task-5 button {
	margin-right: 10px;
	background: rgb(165, 236, 165);
	max-width: 110px;
	padding: 10px;
	border: 1px solid black;
	border-radius: 10px;
	transition: all 0.2s;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4); 
 }
 
 .task-5 button:active {
	transform: scale(0.95);
	box-shadow: none; 
	background: rgb(96, 163, 96);
 }
 .task-5 p {
	display: inline-block;
	font-weight: bold;
 }
